IO_LOC "ddr_reset_n" B9;
IO_LOC "ddr_cke" J2;
IO_LOC "ddr_cs" P5;
IO_LOC "ddr_ck" J1,J3;
IO_LOC "ddr_odt" R3;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "sd_cs" N11;
IO_LOC "sd_clk" N10;
IO_LOC "sd_mosi" R14;
IO_LOC "phy_reset_n" F10;
IO_LOC "eth_txen" E16;
IO_LOC "eth_txd[0]" D16;
IO_LOC "eth_txd[1]" E14;
IO_LOC "eth_mdc" F14;
IO_LOC "uart_tx" M11;
IO_PORT "sd_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "phy_reset_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "eth_txen" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "eth_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "eth_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "eth_mdc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
